<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="GPF.Properties.Settings.GPF" connectionString="Data Source=LAPTOP-FS6QDR67\SQLEXPRESS;Initial Catalog=GPF;User ID=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>-->
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>